

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Clientes</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">

    <h2>Cadastro de Clientes</h2>
    <a href="/Home/Index">Página inicial</a>
    <hr />

    @*Model desta página*@
    @model Projeto.WEB.Models.ClienteCadastroViewModel

    @*Criando formulário *@
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">

                <label>Nome do Cliente:</label>
                @Html.TextBoxFor(model => model.Nome, new
           {
               @Class = "form-control",
               @placeholder = "Informe o nome do cliente"
           })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Nome)
                </span>
            <br />
            
                <label>Email:</label>
                @Html.TextBoxFor(model => model.Email, new
           {
               @Class = "form-control",
               @placeholder = "Informe o email"
           })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Email)
                </span>
            <br />

                <label>Sexo:</label>
                @Html.EnumDropDownListFor(model => model.Sexo, new
           {
               @Class = "form-control"
           })
                <span>
                    @Html.ValidationMessageFor(model => model.Sexo)
                </span>
                <br />

                <label>EstadoCivíl:</label>
                @Html.EnumDropDownListFor(model => model.EstadoCivil, new
           {
               @Class = "form-control"
           })
                <br />

                <label>Plano:</label>
                @Html.DropDownListFor(model => model.IdPlano, Model.ListagemDePlanos, "-Escolha uma opção-",
                new
                {
                    @Class = "form-control"
                })
                <br />

                <input type="submit" value="Cadastrar Cliente" class="btn btn-primary" />
                <br />

                <strong>
                    @ViewBag.Mensagem
                </strong>
            </div>
        </div>
    }


</body>
</html>