
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta de Clientes</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">

    <h2>Consulta de Clientes</h2>
    <a href="/Home/Index">Página inicial</a>
    <hr />

    @*Model da página*@
    @model List<Projeto.WEB.Models.ClienteConsultaViewModel>

    <div>
        <strong>@ViewBag.Mensagem</strong>
    </div>

    <!-- Tabela para exibir os planos -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Email</th>
                <th>Sexo</th>
                <th>EstadoCivíl</th>
                <th>DataCadastro</th>
                <th>Plano</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.IdCliente</td>
                    <td>@c.Nome</td>
                    <td>@c.Email</td>
                    <td>@c.Sexo</td>
                    <td>@c.EstadoCivil</td>
                    <td>@c.DataCadastro</td>
                    <td>@c.NomePlano</td>
                    <td>

                        <a href="/Cliente/Edicao?id=@c.IdCliente" class="btn btn-primary col-md-9"> Atualizar Cliente</a>
                        <a href="#" class="btn btn-danger col-md-9"> Excluir Cliente</a>

                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    Quantidade de Clientes: @Model.Count
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
